PORT=5000
HOST=http://localhost
API_URL=http://localhost:5000

JWT_ACCESS_SECRET='accessToken'
JWT_REFRESH_SECRET='refreshToken'

ACCESS_TOKEN_LIFETIME='1h'
REFRESH_TOKEN_LIFETIME='2h'

ROOT_EMAIL=example@gmail.com
ROOT_EMAIL_PASSWORD=password123
ROOT_EMAIL_SERVICE=gmail

API_STRIPE_KEY=