doctype html
html
    head
        style
            include style.css

    body
        div.header

            block content

        div.footer
            | Best regards,
            br
            | The team of AirBnb